body {
  background: linear-gradient(to bottom, #fff6f9, #fbeeff);
  font-family: 'Comic Sans MS', cursive, sans-serif;
  color: #5e3d55;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.pollo {
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 100px;
  z-index: 10;
}

.globo {
  position: fixed;
  bottom: 130px;
  left: 120px;
  background: #fff;
  border: 2px solid #e0c4dc;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 1rem;
  color: #8c4a76;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: rotate(-2deg);
  z-index: 10;
}

.titulo {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 60px;
  margin-bottom: 30px;
  color: #a0528f;
}

.seccion-galeria {
  margin: 60px auto;
  padding: 20px;
  max-width: 90%;
  background: #ffffffd9;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.seccion-galeria h3 {
  text-align: center;
  color: #a0528f;
  margin-bottom: 20px;
}

/* Galería en cuadricula */
.imagenes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 15px;
}

.imagenes img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  border: 3px solid #f2d0e0;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.imagenes img:hover {
  transform: scale(1.05);
}

/* Flecha entre secciones */
.flecha-abajo {
  display: block;
  margin: 30px auto;
  font-size: 2rem;
  color: #c96fa0;
  animation: rebote 1s infinite;
  cursor: pointer;
  text-align: center;
}

@keyframes rebote {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(10px); }
}

.boton-comenzar {
  display: block;
  margin: 50px auto;
  padding: 15px 30px;
  font-size: 1.1rem;
  background-color: #c96fa0;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: background 0.3s;
}

.boton-comenzar:hover {
  background-color: #a44c82;
}


.imagenes img.destacado {
  transform: scale(1.15);
  box-shadow: 0 0 15px #a67bf2;
  border: 2px solid #9a73f0;
  z-index: 10;
  position: relative;
}
